USE [WebBankSystem]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[PinCode] [nvarchar](50) NOT NULL,
	[Balance] [money] NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[PersonID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](300) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwClientsWithoutClientID]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vwClientsWithoutClientID] As
SELECT  
    dbo.Persons.FirstName, 
    dbo.Persons.LastName, 
    CASE WHEN dbo.Persons.Email IS NULL THEN 'Unknown' ELSE dbo.Persons.Email END AS Email, 
    dbo.Clients.PinCode, 
    dbo.Clients.Balance, 
    dbo.Clients.AccountNumber, 
    STRING_AGG(dbo.Phones.PhoneNumber, ', ') AS PhoneNumbers
FROM     
    dbo.Clients 
INNER JOIN
    dbo.Persons ON dbo.Clients.PersonID = dbo.Persons.PersonID 
LEFT OUTER JOIN
    dbo.Phones ON dbo.Persons.PersonID = dbo.Phones.PersonID
GROUP BY  
    dbo.Persons.FirstName, 
    dbo.Persons.LastName, 
    dbo.Persons.Email, 
    dbo.Clients.PinCode, 
    dbo.Clients.Balance, 
    dbo.Clients.AccountNumber;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Permissions] [smallint] NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[PersonID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwUsers]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwUsers]
AS
SELECT dbo.Users.UserID, dbo.Users.Username, { fn CONCAT(dbo.Persons.FirstName + ' ', dbo.Persons.LastName) } AS FullName, CASE WHEN Persons.Email IS NULL THEN 'Unknown' ELSE Email END AS Email, 
                  STRING_AGG(dbo.Phones.PhoneNumber, ',') AS PhoneNumbers, dbo.Users.Password, dbo.Users.Permissions
FROM     dbo.Users INNER JOIN
                  dbo.Persons ON dbo.Users.PersonID = dbo.Persons.PersonID INNER JOIN
                  dbo.Phones ON dbo.Persons.PersonID = dbo.Phones.PersonID
WHERE  (dbo.Users.IsDeleted = 0)
GROUP BY dbo.Users.UserID, dbo.Users.Username, dbo.Persons.FirstName, dbo.Persons.LastName, dbo.Persons.Email, dbo.Users.Password, dbo.Users.Permissions
GO
/****** Object:  Table [dbo].[LoginRegisters]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginRegisters](
	[LoginRegisterID] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Login Registers] PRIMARY KEY CLUSTERED 
(
	[LoginRegisterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwLoginRegisters]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwLoginRegisters]
AS
SELECT dbo.LoginRegisters.DateTime, dbo.Users.Username, dbo.Users.Password, dbo.Users.Permissions
FROM     dbo.Users INNER JOIN
                  dbo.LoginRegisters ON dbo.Users.UserID = dbo.LoginRegisters.UserID
GO
/****** Object:  View [dbo].[vwTotalBalances]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTotalBalances]
AS
SELECT dbo.Clients.AccountNumber, dbo.Persons.FirstName, dbo.Persons.LastName, dbo.Clients.Balance
FROM     dbo.Clients INNER JOIN
                  dbo.Persons ON dbo.Clients.PersonID = dbo.Persons.PersonID
WHERE  (dbo.Clients.IsDeleted = 0)
GO
/****** Object:  View [dbo].[vwClients]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwClients]
AS
SELECT dbo.Clients.ClientID, dbo.Persons.FirstName, dbo.Persons.LastName, CASE WHEN dbo.Persons.Email IS NULL THEN 'Unknown' ELSE email END AS Email, dbo.Clients.PinCode, dbo.Clients.Balance, dbo.Clients.AccountNumber
FROM     dbo.Clients INNER JOIN
                  dbo.Persons ON dbo.Clients.PersonID = dbo.Persons.PersonID 
                  
WHERE  (dbo.Clients.IsDeleted = 0)
GROUP BY dbo.Clients.ClientID, dbo.Persons.FirstName, dbo.Persons.LastName, dbo.Persons.Email, dbo.Clients.PinCode, dbo.Clients.Balance, dbo.Clients.AccountNumber
GO
/****** Object:  View [dbo].[vwSplitPhones]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[vwSplitPhones] As
SELECT 
    ClientID,
    FirstName,
    LastName,
     LTRIM(RTRIM(value)) AS PhoneNumber
FROM 
    vwClients
CROSS APPLY 
    STRING_SPLIT(PhoneNumbers, ',')
GO
/****** Object:  Table [dbo].[TransferLogs]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferLogs](
	[TransferLogID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [money] NOT NULL,
	[SourceBalance] [money] NOT NULL,
	[DestinationBalance] [money] NOT NULL,
	[UserID] [int] NOT NULL,
	[SourceClientID] [int] NOT NULL,
	[DestinationClientID] [int] NOT NULL,
 CONSTRAINT [PK_TransferLogs] PRIMARY KEY CLUSTERED 
(
	[TransferLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwTransferLogs]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTransferLogs]
AS
SELECT dbo.TransferLogs.TransferLogID, dbo.TransferLogs.Date, SourceClient.AccountNumber AS SourceAcc, DestinationClient.AccountNumber AS DestinationAcc, dbo.TransferLogs.Amount, dbo.TransferLogs.SourceBalance, 
                  dbo.TransferLogs.DestinationBalance, dbo.Users.Username
FROM     dbo.TransferLogs INNER JOIN
                  dbo.Clients AS SourceClient ON SourceClient.ClientID = dbo.TransferLogs.SourceClientID INNER JOIN
                  dbo.Clients AS DestinationClient ON DestinationClient.ClientID = dbo.TransferLogs.DestinationClientID INNER JOIN
                  dbo.Users ON dbo.TransferLogs.UserID = dbo.Users.UserID
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [PinCode], [Balance], [AccountNumber], [PersonID], [IsDeleted]) VALUES (2049, N'1234', 30000.0000, N'A1000001', 3069, 0)
INSERT [dbo].[Clients] ([ClientID], [PinCode], [Balance], [AccountNumber], [PersonID], [IsDeleted]) VALUES (2050, N'1234', 500.0000, N'A1000002', 3070, 0)
INSERT [dbo].[Clients] ([ClientID], [PinCode], [Balance], [AccountNumber], [PersonID], [IsDeleted]) VALUES (2051, N'1234', 2000.0000, N'A1000003', 3071, 0)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginRegisters] ON 

INSERT [dbo].[LoginRegisters] ([LoginRegisterID], [DateTime], [UserID]) VALUES (42, CAST(N'2025-05-04T18:55:51.877' AS DateTime), 17)
INSERT [dbo].[LoginRegisters] ([LoginRegisterID], [DateTime], [UserID]) VALUES (43, CAST(N'2025-05-04T18:56:01.570' AS DateTime), 17)
INSERT [dbo].[LoginRegisters] ([LoginRegisterID], [DateTime], [UserID]) VALUES (44, CAST(N'2025-05-04T18:56:54.683' AS DateTime), 17)
SET IDENTITY_INSERT [dbo].[LoginRegisters] OFF
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([PersonID], [FirstName], [LastName], [Email], [IsDeleted]) VALUES (3062, N'Sana', N'Darwish', N'Sa@gmail.com', 0)
INSERT [dbo].[Persons] ([PersonID], [FirstName], [LastName], [Email], [IsDeleted]) VALUES (3063, N'Noor', N'Jaber', N'Unknown', 0)
INSERT [dbo].[Persons] ([PersonID], [FirstName], [LastName], [Email], [IsDeleted]) VALUES (3064, N'Siham', N'Ali', N'Unknown', 0)
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET IDENTITY_INSERT [dbo].[TransferLogs] ON 

INSERT [dbo].[TransferLogs] ([TransferLogID], [Date], [Amount], [SourceBalance], [DestinationBalance], [UserID], [SourceClientID], [DestinationClientID]) VALUES (3, CAST(N'2025-05-04T19:00:25.117' AS DateTime), 5000.0000, 15000.0000, 10000.0000, 24, 2053, 2054)
INSERT [dbo].[TransferLogs] ([TransferLogID], [Date], [Amount], [SourceBalance], [DestinationBalance], [UserID], [SourceClientID], [DestinationClientID]) VALUES (4, CAST(N'2025-05-04T19:01:25.073' AS DateTime), 4000.0000, 6000.0000, 15000.0000, 24, 2049, 2054)
INSERT [dbo].[TransferLogs] ([TransferLogID], [Date], [Amount], [SourceBalance], [DestinationBalance], [UserID], [SourceClientID], [DestinationClientID]) VALUES (5, CAST(N'2025-05-04T20:35:25.967' AS DateTime), 1000.0000, 3000.0000, 5000.0000, 17, 2051, 2052)
SET IDENTITY_INSERT [dbo].[TransferLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Permissions], [Password], [PersonID], [IsDeleted]) VALUES (17, N'Admin', -1, N';<=>', 3062, 0)
INSERT [dbo].[Users] ([UserID], [Username], [Permissions], [Password], [PersonID], [IsDeleted]) VALUES (18, N'User1', -1, N'>=<;', 3063, 0)
INSERT [dbo].[Users] ([UserID], [Username], [Permissions], [Password], [PersonID], [IsDeleted]) VALUES (19, N'User2', 5, N'WVUT', 3064, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Clients__AA2FFB84DC7928E2]    Script Date: 6/22/2026 4:29:17 PM ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ__Clients__AA2FFB84DC7928E2] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Clients_AccountNumber_Active]    Script Date: 6/22/2026 4:29:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Clients_AccountNumber_Active] ON [dbo].[Clients]
(
	[AccountNumber] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__AA2FFB84ED0E5345]    Script Date: 6/22/2026 4:29:17 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__AA2FFB84ED0E5345] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Username]    Script Date: 6/22/2026 4:29:17 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IsDeleted]    Script Date: 6/22/2026 4:29:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_IsDeleted] ON [dbo].[Users]
(
	[IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF__Clients__IsDelet__53D770D6]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Persons] ADD  CONSTRAINT [DF__Persons__IsDelet__54CB950F]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsDeleted__52E34C9D]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Clients]  WITH NOCHECK ADD  CONSTRAINT [FK_Clients_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Clients] NOCHECK CONSTRAINT [FK_Clients_Persons]
GO
ALTER TABLE [dbo].[LoginRegisters]  WITH CHECK ADD  CONSTRAINT [FK_Login Registers_Login Registers] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LoginRegisters] CHECK CONSTRAINT [FK_Login Registers_Login Registers]
GO
ALTER TABLE [dbo].[TransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_TransferLogs_DestinationClients] FOREIGN KEY([DestinationClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[TransferLogs] CHECK CONSTRAINT [FK_TransferLogs_DestinationClients]
GO
ALTER TABLE [dbo].[TransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_TransferLogs_SourceClients] FOREIGN KEY([SourceClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[TransferLogs] CHECK CONSTRAINT [FK_TransferLogs_SourceClients]
GO
ALTER TABLE [dbo].[TransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_TransferLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TransferLogs] CHECK CONSTRAINT [FK_TransferLogs_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Persons]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [CHK_Clients_AccountNumber_Length] CHECK  ((len([AccountNumber])=(8)))
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [CHK_Clients_AccountNumber_Length]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_PasswordLength] CHECK  ((len([Password])>=(4) AND len([Password])<=(15)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_PasswordLength]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewClient]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewClient]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PinCode NVARCHAR(50),
    @Balance DECIMAL(18, 2),
    @AccountNumber NVARCHAR(100),
    @NewClientID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewPersonID INT;

    INSERT INTO Persons (FirstName, LastName, Email)
    VALUES (@FirstName, @LastName, @Email);

    SET @NewPersonID = SCOPE_IDENTITY();

    INSERT INTO Clients (PersonID, PinCode, Balance, AccountNumber)
    VALUES (@NewPersonID, @PinCode, @Balance, @AccountNumber);

    SET @NewClientID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllClients]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllClients]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM vwClients
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientByID]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetClientByID]
    @ClientID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM vwClients 
    WHERE ClientID = @ClientID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_IsAccountNumberExist]    Script Date: 6/22/2026 4:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsAccountNumberExist]
    @AccountNumber NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(1) 
    FROM Clients 
    WHERE AccountNumber = @AccountNumber AND IsDeleted = 0;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Clients"
            Begin Extent = 
               Top = 80
               Left = 1162
               Bottom = 243
               Right = 1381
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Persons"
            Begin Extent = 
               Top = 55
               Left = 617
               Bottom = 211
               Right = 827
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Phones"
            Begin Extent = 
               Top = 96
               Left = 144
               Bottom = 237
               Right = 354
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwClients'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwClients'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LoginRegisters"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 148
               Right = 491
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwLoginRegisters'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwLoginRegisters'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Clients"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 251
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Persons"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwTotalBalances'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwTotalBalances'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SourceClient"
            Begin Extent = 
               Top = 30
               Left = 1113
               Bottom = 193
               Right = 1316
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "TransferLogs"
            Begin Extent = 
               Top = 39
               Left = 693
               Bottom = 202
               Right = 917
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Users"
            Begin Extent = 
               Top = 15
               Left = 68
               Bottom = 178
               Right = 262
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DestinationClient"
            Begin Extent = 
               Top = 119
               Left = 312
               Bottom = 282
               Right = 515
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1668
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwTransferLogs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwTransferLogs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -359
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Persons"
            Begin Extent = 
               Top = 34
               Left = 575
               Bottom = 197
               Right = 785
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Phones"
            Begin Extent = 
               Top = 343
               Left = 48
               Bottom = 484
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwUsers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwUsers'
GO
